.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #1996da;
  color: white;
  text-align: center;
  padding: 40px 35px 20px;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
  padding-left: 50px;
}

.column-third {
  width: calc(100% / 3);
  padding: 0 25px 20px;
}

.image {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: white;
  height: 80px;
  width: 80px;
}

.image > img {
  width: 50%;
  margin-left: 2px;
  margin-top: 20px;
}

h3 {
  font-size: 15px;
}

p {
  font-size: 10px;
}
