form {
  text-align: center;
}

h1 {
  color: red;
  font-size: 20px;
  text-align: center;
}

input {
  margin-bottom: 10px;
  width: 25%;
  height: 33px;
  border-radius: 8px;
  border: 1px solid;
}

button {
  margin-top: 10px;
  margin-left: 50px;
  color: white;
  background-color: rgb(193, 75, 42);
  border-radius: 20px;
  padding: 8px 20px;
  border: 20px;
  font-size: 15px;
}

label {
  font-size: 11px;
  font-weight: bold;
}

.button {
  text-align: center;
  margin-left: 15%;
}

select {
  height: 33px;
  border-radius: 8px;
  background-color: rgb(226, 224, 224);
  font-weight: bold;
  width: 25%;
}

.email {
  margin-right: 18%;
}

.name {
  margin-right: 22%;
}

.hiring {
  margin-right: 15%;
}
